body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #5f5e5e;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  transition: background-color 0.3s, color 0.3s;
}

#timer {
  font-size: 2rem;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #722bc2;
  color: white;
}

.dark-mode .container {
  background-color: #e47979;
}

.light-mode .container {
  background-color: #726868;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode #change-style-btn {
  background-color: rgb(212, 153, 212);
}

.light-mode #change-style-btn {
  background-color: #720f6d;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  opacity: 0.8;
}

.dark-button {
  background-color: #000;
  color: #fff;
}

.light-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.start-button {
  background-color: #4CAF50;
  color: white;
}

.pause-button {
  background-color: #ff9800;
  color: white;
}

.reset-button {
  background-color: #f44336;
  color: white;
}

.dark-mode .start-button {
  background-color: #1edf38;
}

.dark-mode .pause-button {
  background-color: #abad1d;
}

.dark-mode .reset-button {
  background-color: #D32F2F;
}

#style-change {
  text-align: center;
}

.dark-mode #sort-btn, .dark-mode #filter-btn, .dark-mode #reverse-btn {
  background-color: rgb(0, 102, 255);
}

.light-mode #sort-btn, .light-mode #filter-btn, .light-mode #reverse-btn {
  background-color: #2c506e;
  color: white;
}

#dynamic-table button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

#dynamic-table button:hover {
  background-color: #d32f2f;
}

#name-input, #age-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#image-gallery {
  margin-top: 20px;
  text-align: center;
}

#image-gallery .thumbnails {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

#image-gallery .thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

#image-gallery .thumbnail:hover {
  transform: scale(1.1);
}

#large-image-container {
  margin-top: 20px;
}

#large-image-container #large-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
